body
{
  height: 612px;
}

@media only screen and (min-width: 320px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 480px) {
    body {
        background-color: skyblue
    }
}

@media only screen and (min-width: 720px) {
    body {
        background-color: maroon;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 800px) {
    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: yellow;
    }
}

@media only screen and (min-width: 1152px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 1280px) {
    body {
        background-color: violet;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-color: orange;
    }
}

@media only screen and (min-width: 1366px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 1680px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 1920px) {
    body {
        background-color: green;
    }
}

.profile
{
  height: 360px;
  width : 100%;
  padding: 0;
  margin: 0;
}

.profileHeaderDiv
{
  float: left;
  height: 10%;
  width : 100%;
  padding: 0;
  margin: 0;
}
.profileHeader
{
  float: left;
/*  height: 10%;or 100vw for width or vh for height*/
  width : 100%;
  background-color: skyblue;
  padding: 0;
  margin: 0;
  position: fixed;
}
.headerButtons
{
  /*height: 10%;*/
  height: 36px;
  background: skyblue;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  float: left;
}

.coverPictureDiv
{
  /*height: 100%;*/
  /*height : 900px;*/
  width : 100%;
  padding: 0;
  margin: 0;
}
.coverPicture
{
  /*height: 100%;*/
  /*height : 900px;*/
  width : 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.careersDiv
{
/*  height: 300px;*/
  width : 100%;
  float: left;
  padding: 0;
  margin: 0;  
}
.careerDiv
{
  height: 300px;
  width : 200px;
  float: left;
  margin-left: 7px;
  margin-bottom: 2px;
  margin-right: 7px;
  margin-top: 7px;
  background-color: cadetblue;
  padding: 0px;
/*  margin: 0;  */
}

.contactDiv
{
  width: 99%;
  float: left;
  padding-left: 2px;
  padding-bottom: 4px;
  padding-right: 2px;
  padding-top: 5px;
  margin: 0;
}
.contactTable
{
  border: 1px solid black;
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
.contactTextBox
{
  height:20px;
  width: 75%;
  float: left;
  padding: 0;
  margin: 0;
}
.contactCommentBox
{
  height:50px;
  width: 75%;
  float: left;
  padding: 0;
  margin: 0;
}


.indexPage
{
  height: 615px;
  /*height : 900px;*/
  width : 100%;
  padding: 0;
  margin: 0;
}
.pgmain
{
    height : 600px;
    width : 100%;
    padding: 0;
}
.indexHeader
{
    height : 15%;
    width : 100%;
    background-color: #006400;
    padding: 0;
    margin: 0;
    float: left;
    /*position: fixed;*/
    /*z-index: 1;*/
    /*display: inline;*/
}
.indexBody
{
    height : 85%;
    width : 100%;
    background-color: #006400;
    padding: 0;
    margin: 0;
    float: left;
    /*display: inline;
    float: right;*/
}
.frames
{
    border-width: 0px;
   /*border-color: currentColor;*/
}

.indexImgHeader
{
  width: 100%;
  height: 100%;
  /*object-fit: fill;*/
  /*object-fit: contain;*/
}


/*
1. 19.5% of visitors used a netbook resolution of 1280 × 800.

2. 13.5% used 1366 × 768.

3. 11.4% used the iPhone size: 320 × 480.

4. 7.8% used 1024 × 768, bringing it to fourth place.

5. 7.3% used 768 × 1024, common of iPads and horizontal 10-inch netbooks.

6. 7.3% used larger laptops sized 1440 × 900.

7. 6.5% used 1280 × 1024, a common LCD desktop monitor.

8. 6.1% used 1080p HD displays (1920 × 1080).

9. 5.1% used the common widescreen resolution of 1680 × 1050.

10. 3.8% used the HD+ 1600 × 900 screen size.
*/